/* .side-text {
    position: absolute;
    top: 20vh;
    left: -1.3rem;
    margin: 0;
    writing-mode: vertical-lr;
    font-size: 5vh;
} */

#header {
    height: auto;
    text-align: center;
}

.main {
    width: 90%;
}

.main, #footer {
    margin: 0 auto;
    text-align: center;
    margin-top: 8vh;
}

#footer {
    padding: 8vh 0 3vh;
}

#footer p {
    font-size: 2.5vw;
}

#menu {
    padding-top: 2vh;
    display: flex;
    height: auto;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#menu-toggle {
    padding-top: 3vh;
}

#menu a {
    margin: 1vh;
    color: black;
}

#menu a:hover {
    color: #555;
    text-decoration: underline !important;
}

.menu-option {
    font-size: 4vh;
    padding: 1vh 0;
}

.selected {
    text-decoration: underline;
}

#longbound-logo {
    max-width: 80%;
    height: auto;
    max-height: 300px;
}

h1 {
    font-size: 6vw !important;
    margin-bottom: 6vh !important;
}

h2 {
    font-size: 5vw !important;
    margin-bottom: 5vh !important;
}

#quote-box {
    padding-bottom: 5vh;
    margin: 0 auto;
    max-width: 60%;
}

.body-image {
    margin: 0 auto;
    width: 80%;
    padding-bottom: 5vh;
}

.loading-spinner {
    padding-bottom: 5vh;
}

#schema-picture {
    width: 100%;
}

#contact-form {
    margin: 0 auto;
    width: 80%;
}

#name-tags {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
}

.name-tag {
    display: inline-block;
    padding: 0 5vh 5vh;
}

.body-text {
    margin: 0 auto;
    text-align: left;
}

p {
    font-size: 3vw;
}

textarea.materialize-textarea {
    height: 12rem;
}

/* label focus color */
.input-field input:focus + label {
    color: #000 !important;
}

/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}

.input-field textarea:focus + label {
    color: #000 !important;
}

/* label underline focus color */
.input-field textarea:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}

@media only screen and (min-width: 576px) {
    h1 {
        font-size: 5.5vh !important;
        margin-bottom: 5.5vh !important;
    }

    h2 {
        font-size: 4vh !important;
        margin-bottom: 5vh !important;
    }

    p {
        font-size: 2.2vh;
    }

    .main {
        width: 67%;
    }

    #footer p {
        font-size: 1.8vh;
    }

    #header {
        text-align: center;
    }

    #desktop-menu {
        display: flex;
        height: auto;
        justify-content: space-between;
    }

    #desktop-menu a {
        margin: 1vw;
        color: black;
    }

    #desktop-menu a:hover {
        color: #333;
        text-decoration: underline;
    }

    #menu-options {
        display: flex;
        align-content: center;
        align-items: center;
        padding-right: 4vw;
    }

    .menu-option {
        font-size: 3vh;
    }

    #logo-box {
        text-align: left;
        padding-left: 4vw;
        width: 35vw;
    }

    #longbound-logo-desktop {
        height: auto;
        max-height: 20vh;
    }
}

@media only screen and (min-width: 1200px) {
    html, body {
        margin: 0 auto;
        max-width: 1300px;
    }
}
