#header {
    height: 22vh;
}

.main {
    width: 80%;
}

.main, #footer {
    margin: 0 auto;
    text-align: center;
}

#menu {
    padding: 7vh 5vw 0;
}

h1 {
    font-size: 3.5em !important;
}

h2 {
    font-size: 2.8em !important;
}

.section-header {
    padding-top: 6vh !important;
}

#quote-box {
    padding: 10vh 0 5vh;
    margin: 0 auto;
    max-width: 60%;
    min-height: 30vh;
}

#quote-box p {
    font-size: 1.3em;
    transition: 1s;
}

.loading-spinner {
    padding: 10vh 0 5vh;
}

#footer {
    padding: 5vh 0 3vh;
}

#faces-picture {
    margin: 0 auto;
    width: 60%;
}

#contact-form {
    margin: 0 auto;
    width: 60%;
    padding-top: 5vh;
}

#name-tags {
    margin: 0 auto;
    width: 40%;
    min-width: 400px;
}

.name-tag {
    display: inline-block;
    padding: 5vh 5vw;
}

.body-text {
    margin: 0 auto;
    width: 60%;
}

.body-text p {
    font-size: 1.5em;
    text-align: left;
}
