#header {
    min-height: 25vh;
    text-align: center;
}

.main {
    width: 90%;
}

.main, #footer {
    margin: 0 auto;
    text-align: center;
}

#footer {
    padding: 8vh 0 3vh;
}

#footer p {
    font-size: 2.5vw
}

#menu {
    padding-top: 0;
    padding-bottom: 5vh;
    display: flex;
    height: auto;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#menu-toggle {
    padding: 3vh 0;
}

#menu a {
    margin: 1vh;
    color: #555;
}

#menu a:hover {
    color: black;
}

.menu-option {
    font-size: 4vh;
    padding: 1vh 0;
}

#longbound-logo {
    max-width: 80%;
    height: auto;
    max-height: 300px;
}

h1 {
    font-size: 6vw !important;
    margin-bottom: 6vh !important;
}

h2 {
    font-size: 5vw !important;
    margin-bottom: 5vh !important;
}

#quote-box {
    padding-bottom: 5vh;
    margin: 0 auto;
    max-width: 60%;
}

.body-image {
    margin: 0 auto;
    width: 80%;
    padding-bottom: 5vh;
}

.loading-spinner {
    padding-bottom: 5vh;
}

#schema-picture {
    width: 100%;
}

#contact-form {
    margin: 0 auto;
    width: 80%;
}

#name-tags {
    margin: 0 auto;
    width: 40%;
    min-width: 400px;
}

.name-tag {
    display: inline-block;
    padding: 0 5vh 5vh;
}

.body-text {
    margin: 0 auto;
    text-align: left;
}

p {
    font-size: 3vw;
}
